/mi_aplicacion/nbproject/private/
/mi_aplicacion/build/
/escuelaDigital/nbproject/private/
/clase2Java/nbproject/private/
/clase2Java/build/
/clase4Java/nbproject/private/
/clase3Java/nbproject/private/
/clase3Java/build/
/clase3/nbproject/private/
/clase3/build/
/paginaWeb/target/
