#cuadradoRojo{
    width:200px;
    height:200px;
    background:red;
    color: yellow;
    
    
}
#cuadradoNegro{
    width:200px;
    height:200px;
    background:black;
    color: white;
}


div{
    display: inline-block;
    margin-left: 8px;
}